.Auth_Parrent{
    display: flex;
    padding-top: 160px;
}
.Auth_Child {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 1px rgba(74, 38, 133, 0.99) !important;
    border-radius: 10px;
    
    width: 400px;
    height: 250px;    
}
.authH1 {    
    margin: auto;
    color: rgba(74, 38, 133, 0.99) ;   
}
.authInputs{
    display: flex;
    height: 85px;
    flex-direction: column;
}
.authInput{
    width: 250px;
    height: 35px;
    margin: auto;
    border:solid 1px rgba(74, 38, 133, 0.99) !important;
    border-radius: 5px;   
}
.authButton{
    width: 150px;
    height: 40px;
    margin: auto;
    text-align: center;
    border: none;
    background-color: rgba(74, 38, 133, 0.99);
    color: white;
    border-radius: 10px;   
}

.authButton:hover{
    background-color: rgb(152, 107, 224);
}